posix_users:
  - name: student1
    password: <REPLACE ME with hashed password generated using `mkpasswd --method=sha-512`>
  - name: admin
    password: <REPLACE ME with hashed passwordgenerated using `mkpasswd --method=sha-512`>
launcher_jupyterhub_token: '<REPLACE ME with a random string, same as explore.yml:launcher_jupyterhub_token>'
grdc_researchdrive_archives: []
