{
  "argv": [
  "{{ conda_root }}/bin/python",
  "-m",
  "ipykernel_launcher",
  "-f",
  "{connection_file}"
 ],
 "display_name": "Python 3 (Conda)",
 "language": "python",
 "env": {
    "PROJ_LIB": "{{ conda_root }}/share/proj",
    "PATH": "{{ conda_root }}/bin:{{ conda_root }}/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
  }
}
