# {{ ansible_managed }}

c.JupyterHub.admin_access = True
c.JupyterHub.services = [
    {
        'name': 'experiment-launcher',
        'admin': True,
        'api_token': '{{ launcher_jupyterhub_token }}',
    },
    {
        'name': 'idle-culler',
        'admin': True,
        'command': [
            sys.executable,
            '-m', 'jupyterhub-idle-culler',
            '--timeout={{ cull.timeout }}',
            '--max_age={{ cull.max_age }}'
        ],
    }
]
c.Authenticator.admin_users = {'admin'}
c.Spawner.default_url = '/lab'
c.Spawner.environment = { {% for key, value in jupyterhub_spawner_environment.items() %}
    '{{ key }}': '{{ value }}'{% if not loop.last %},{% endif %}
{% endfor %} }
c.JupyterHub.ssl_key = '/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem'
c.JupyterHub.ssl_cert = '/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem'
c.JupyterHub.port = 443
c.Authenticator.whitelist = { {% for user in posix_users %}
    '{{ user.name }}'{% if not loop.last %},{% endif %}
{% endfor %} }

# Don't interrupt users when jupyterhub service is restarted
c.JupyterHub.cleanup_servers = False
c.JupyterHub.cleanup_proxy = False

# Remove system python from kernel list
# c.Spawner.args = ["--KernelSpecManager.ensure_native_kernel=False"]
