# {{ ansible_managed }}

import sys

c.JupyterHub.admin_access = True
c.JupyterHub.services = [
    {
        'name': 'experiment-launcher',
        'admin': True,
        'api_token': '{{ lookup('password', 'jupyterhub.launcher.token length=32 chars=ascii_letters,digits') }}',
    },
    {
        'name': 'idle-culler',
        'admin': True,
        'command': [
            sys.executable,
            '-m', 'jupyterhub_idle_culler',
            '--timeout={{ cull.timeout }}',
            '--max_age={{ cull.max_age }}'
        ],
    }
]
# TODO use var/parameter/group to defined who can admin
c.Authenticator.admin_users = {'{{ ssh_user | default('ubuntu', true) }}'}
c.Spawner.default_url = '/lab'
c.Spawner.environment = { {% for key, value in jupyterhub_spawner_environment.items() %}
    '{{ key }}': '{{ value }}'{% if not loop.last %},{% endif %}
{% endfor %} }
c.Spawner.notebook_dir = '~'
# c.JupyterHub.ssl_key = '/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem'
# c.JupyterHub.ssl_cert = '/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem'
c.JupyterHub.port = 8000
# c.Authenticator.whitelist = { {% for user in posix_users %}
#     '{{ user.name }}'{% if not loop.last %},{% endif %}
# {% endfor %} }

# Don't interrupt users when jupyterhub service is restarted
c.JupyterHub.cleanup_servers = False
c.JupyterHub.cleanup_proxy = False

# Remove system python from kernel list
# c.Spawner.args = ["--KernelSpecManager.ensure_native_kernel=False"]

# Host from /jupyter
c.JupyterHub.base_url = '/jupyter'
