<tomcat-users>
    <role rolename="manager-gui"/>
    <role rolename="ncWMS-admin"/>
    <user username="{{forecast_admin.name}}" password="{{forecast_admin.password}}" roles="manager-gui,ncWMS-admin"/>
</tomcat-users>