all:
  children:
    lab:
      hosts:
        lab.ewatercycle.org:
    explore:
      hosts:
        explore.ewatercycle.org:
    jupyter:
      hosts:
        jupyter.ewatercycle.org:
    analytics:
      hosts:
        analytics.ewatercycle.org:
    experiments:
      hosts:
        experiments.ewatercycle.org:
    forecast:
      hosts:
        forecast.ewatercycle.org:
