user:
  name: < replace me >
  password: '< replace me with encrypted password, see https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-generate-crypted-passwords-for-the-user-module'
  publickey: '< replace me with public SSH key >'