<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>eWaterCycle Lab</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    body {
        padding: 25px;
    }
    .card .card-img-top {
        max-height: 10rem;
        max-width: 10rem;
        height: auto;
        width: auto;
        padding: 20px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="images/ewatercycle-logo-icon.svg" height="40" alt="">
            eWaterCycle Lab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://ewatercycle.org">Project Site</a>
                </li>
            </ul>
        </div>
    </nav>
    <img src="images/mackenzie_river.jpg" class="img-fluid pb-3" alt="NASA: Mackenzie River in Canada's Northwest Territories">
    <div class="container">
        <div>
            <h2>Welcome to the eWaterCycle Lab</h2>

            <p>This is the eWaterCycle Lab environment. It allows users to explore hydrological models, run experiments, and analyse and share results of these experiments. For more information see the <a href="https://www.ewatercycle.org/2018/11/12/introducing-ewatercycleII.html">Blog post introducing the eWaterCycle II project</a>.</p>
            <p>In this system scientists can:</p>
            <ul>
                <li>Get started with modelling without installing a single piece of software</li>
                <li>Run any of the available models within minutes.</li>
                <li>Develop code quickly in a notebook environment.</li>
            </ul>

        </div>
        <div class="card-deck">
        <!--
            <div class="card" style="width: 18rem;">
                <img src="images/explore.png" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Explore available Hydrology models and datasets.</p>
                </div>
                <div class="card-footer text-black bg-white border-white">
                    <a href="{{ tool_urls.explore }}" class="btn btn-primary btn-block">Explore</a>
                </div>
            </div>
            -->
            <div class="card" style="width: 18rem;">
                <img src="images/jupyter.png" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Experiment with models and datasets in a notebook.</p>
                </div>
                <div class="card-footer text-black bg-white border-white">
                    <a href="{{ tool_urls.jupyter }}" class="btn btn-primary btn-block">Jupyter notebook</a>
                </div>
            </div>{%- if 'analytics' in tool_urls -%}
            <div class="card" style="width: 18rem;">
                <img src="images/analytics.png" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Analytics for experiment results.</p>
                    <p class="card-text">Coming Soon<sup>TM</sup>.</p>
                </div>
                <div class="card-footer text-black bg-white border-white">
                    <a href="{{ tool_urls.analytics }}" class="btn btn-primary btn-block disabled">Analytics</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/cylc.png" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Experiments which are running continously using cylc workflow engine.</p>
                </div>
                <div class="card-footer text-black bg-white border-white">
                    <a href="{{ tool_urls.experiments }}" class="btn btn-primary btn-block">Experiments</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/forecast.png" class="card-img-top mx-auto" alt="...">
                <div class="card-body">
                    <p class="card-text">Visualization of global 5arcmin PCR-GLOBWB model.</p>
                </div>
                <div class="card-footer text-black bg-white border-white">
                    <a href="{{ tool_urls.lowresforecast }}" class="btn btn-primary btn-block">Forecast</a>
                </div>
            </div>{%- endif %}
        </div>
    </div>
</body>

</html>
