[Unit]
Description = Cylc Web Frontend
After       = syslog.target network.target

[Service]
User=cylc

# Start Oneclient
ExecStart=/mnt/home/cylc/cylc/bin/cylc review start {{ cylc_review_port }}

# Change to `always` to automatically restart
Restart       = always

[Install]
WantedBy    = multi-user.target