---
# TODO pin more versions so future deployments have more chance to work
name: ewatercycle
channels:
  - conda-forge
  - defaults
dependencies:
  # Skip ansible as running ansible second time in vagrant will give --sudo does not exist error
  # - ansible
  - pip:
      - ewatercycle=={{ pyewatercycle_version }}
      - ewatercycle-hype
      - ewatercycle-lisflood
      - ewatercycle-marrmot
      - ewatercycle-pcrglobwb
      - ewatercycle-wflow
      - ewatercycle-leakybucket
      - ewatercycle-HBV==1.8.4
      # TODO Once ewatercycle-wflowjl uses a containerized model, uncomment the following line:
      # - ewatercycle-wflowjl
      # TODO Once available uncomment the following line
      # - git+https://github.com/eWaterCycle/ewatercycle-sfincs
      - era5cli
      # Conda version of jupyterhub-systemdspawner is not py3.12 compat, so use pip version
      - jupyterhub-systemdspawner
      # Conda version of papermill is not py3.12 compat, so use pip version
      - papermill
  - altair_saver
  - altair
  - nco
  - ncview
  - regionmask
  - pyke  # required by iris, only available on conda or sourceforge
  - iris-sample-data # for sample notebooks, see https://github.com/eWaterCycle/notebooks/issues/15
  # Pangeo deps, see https://pangeo.io/setup_guides/hpc.html
  - hvplot
  # Lint / formatters
  - autopep8
  - black  # Still dependenciy of bmi package, but make explicit here as main hbranch of bmi repo removed it
  - flake8
  - isort
  - pylint
  - yapf
  # Pymt
  # Disabled as it does not work with python3.12
  # - pymt_cem
  # - pymt_ecsimplesnow
  # - pymt_gipl
  # - pymt_hydrotrend
  # - pymt_landlab
  # - pymt_permamodel
  # - pymt_rafem
  # - pymt_sedflux
  # - pymt
  # - pymt_child  # Skipped as only a osx binary is available
  # - pymt_topoflow  # Skipped not on conda-forge
  # Jupyter
  - jupyter-server-proxy
  - jupyterhub
  - jupyterlab
  - notebook
  - ipykernel
  - ipympl
  - ipynb-py-convert
  - jupyterhub-idle-culler
  # dependencies of jupyterhub-systemdspawner
  - nodejs
  # JupyterLab extensions server dependencies, lab extension should be added to defaults of jupyter role
  - ipyleaflet
  - jupyterlab_code_formatter
  - dask-labextension
  - jupyterlab-geojson
  - jupyter_bokeh
  - pyviz_comms
  - jupyterlab-git
  - nbdime
  - nbgitpuller
