---
# TODO pin more versions so future deployments have more chance to work
name: ewatercycle
channels:
  - conda-forge
  - defaults
dependencies:
  - pip:
      - ewatercycle=={{ pyewatercycle_version }}
      - ewatercycle-hype==0.0.1
      - ewatercycle-lisflood==0.0.1
      - ewatercycle-marrmot==0.0.2
      - ewatercycle-pcrglobwb==0.0.2
      - ewatercycle-wflow==0.0.2
      - ewatercycle-leakybucket==0.0.2
      - ewatercycle-HBV==1.8.4
      # TODO After Sept 2024 use 2.0.0 version of era5cli, as v1 no longer works
      - era5cli==1.4.2
      # Conda version of jupyterhub-systemdspawner is not py3.12 compat, so use pip version
      - jupyterhub-systemdspawner==1.0.1
      # Conda version of papermill is not py3.12 compat, so use pip version
      - papermill==2.6.0
  # Pangeo deps, see https://pangeo.io/setup_guides/hpc.html
  # TODO add pangeo deps back?

  # Jupyter
  - jupyter-server-proxy=4.4.0
  - jupyterhub=5.1.0
  - jupyterlab=4.2.5
  - notebook=7.2.2
  - ipykernel=6.29.5
  - ipympl=0.9.4
  - ipynb-py-convert=0.4.6
  - jupyterhub-idle-culler=1.3.1
  - nodejs=22.7.0
  # JupyterLab extensions server dependencies, lab extension should be added to defaults of jupyter role
  - jupyterlab_code_formatter=3.0.2
  - black=24.8.0
  - isort=5.13.2
  - dask-labextension=7.0.0
  - jupyterlab-geojson=3.4.0
  - ipyleaflet=0.19.2
  - jupyterlab-git=0.50.1
  - nbdime=4.0.1
  - nbgitpuller=1.2.1
